body {
  font-family: helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
}




h2 {
  margin: 10px;
  text-align: center;
}

h3 {
  margin: 10px;
  text-align: center;
}

h4 {
  margin: 10px;
  text-align: center;
}

.centered-content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
}


/* Header items */

.header {
  position: fixed;
  height: 69px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid seashell;
  z-index: 1;
  width: 100%;
  top: 0;
  background-color: black;
}

.logo {
  padding-left: 10px;
  height: 50px;
}

.menu {
  display: flex;
  margin-right: 30px;
}

.menu a {
  color: seashell;
  padding-left: 20px;

}

/* Content items */

.content {
  padding-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}


/* Mission items */

.hero {
  display: flex;
  align-items: center;
  width: 1200px;
  height: 700px;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg");
}


.mission-banner {
  display: flex;
  align-items: center;
  align-content: center;
  background: black;
  height: 120px;
  width: 1200px;

}

.section-title {
width: 1200px;
}


/* Featured Tea items */

.tea-of-the-month {
  display: flex;
  flex-direction: column;
  width: 1000px;
  margin-top: 50px;
}

.row-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.thumbnail-img {
  height: 200px;
  width: 300px;
}
